/**
 *
 * Variables
 *
 */


/* Breakpoints
   ================================================================================================================== */


$breakpoint-lap:              481px;
$breakpoint-lap-big:          581px;
$breakpoint-tablet:           720px;
$breakpoint-desk:             1024px;
$breakpoint-bigscreen:        1200px;


/* Layout
   ================================================================================================================== */

$layout-max-width:            62.5em;
$layout-max-width-event:      50em;
$layout-max-width-desk:       50em;
$layout-left-spacing:         6.4em; // Offset to make room for burger menu
$layout-header-image-height:  25em;
$layout-header-height:        4.35em;
$layout-header-height-sticky: 3.25em;
$border-radius:               .6em !default;


/* Elements
   ================================================================================================================== */

$nav-height:  80px;


/* Colors
   ================================================================================================================== */

$black:            #000;
$white:            #fff;

$gray-lightest:    lighten($black, 95%);
$gray-lighter:     lighten($black, 90%);
$gray-light:       lighten($black, 70%);
$gray:             lighten($black, 60%);
$gray-dark:        lighten($black, 50%);
$gray-darker:      lighten($black, 40%);
$gray-darkest:     lighten($black, 12%);

$link-color:       #ffde06;
$link-color-hover: darken(#ffde06, 15%);
$theme-color:      #ffde06;


/* Typography
   ================================================================================================================== */

$font-family:      "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font:             1em/1.5 $font-family;


