/**
 *
 * Variables
 *
 */


/* Colors
   ================================================================================================================== */

$black:            #000 !default;
$white:            #fff !default;
$menu-color:       green;
$link-color:       blue;

/* Typography
   ================================================================================================================== */

$font-family:      "Exo 2", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font:             1em/1.5 $font-family !default;

