/**
 *
 * Variables
 *
 */


/* Colors
   ================================================================================================================== */

$black:            #000;
$white:            #fff;
$menu-color:       green;
$link-color:       blue;

/* Typography
   ================================================================================================================== */

$font-family:      "Cabin Sketch", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font:             1em/1.5 $font-family;


