@font-face {
  font-family: 'Gibson SemiBold';
  src: url("/aroskanalen/assets/dokk1/fonts/Gibson-SemiBold-webfont.woff") format("woff");
}
@font-face {
  font-family: 'Gibson Regular';
  src: url("/aroskanalen/assets/dokk1/fonts/Gibson-Regular-webfont.woff") format("woff");
}
@font-face {
  font-family: 'Gibson Light';
  src: url("/aroskanalen/assets/dokk1/fonts/Gibson-Light-webfont.woff") format("woff");
}

body, html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;

  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  font: 1em/1.5 'Gibson Light', sans-serif;
}

.template {
  display: flex;
  flex-basis: 100%;
  flex-direction: column;

  padding-top: 80px;
  padding-right: 40px;
  padding-bottom: 80px;
  padding-left: 40px;
}

.row {
  display: flex;
  align-items: center;
  flex-basis: 160px;

  font-size: 72px;
}

.row:not(:first-child) {
  border-top: 1px solid rgb(255, 255, 255);
}

.row:last-child {
  border-bottom: 1px solid rgb(255, 255, 255);
}

.row.is-header {
  color: rgb(255, 180, 0);
}

.row.is-grouped {
  margin-left: 120px;
}

.row .arrow {
  height: 60px;
  margin-right: 60px;
  width: 60px;
}

.row .icon {
  height: 77px;
  margin-left: 60px;
  width: 77px;
}

