$footer-height: 5em;

body, html {
  overflow-x: hidden;
}

.logo {
  position: absolute;
  top: 1.5em;
  left: 1em;
  z-index: 99;

  display: block;
  height: 2.6em;
  width: 6em;
  overflow: hidden;

  @include breakpoint($layout-max-width) {
    top: 5em;
    left: 2em;

    height: 3.5em;
    width: 8em;
  }

  @include breakpoint($breakpoint-bigscreen) {
    left: 8em;

    height: 4.5em;
    width: 10em;
  }
}

main[role=main] {
  margin-right: auto;
  margin-left: auto;
  max-width: $layout-max-width;
}

footer {
  width: 100%;
  position:fixed;

  background-color: black;
  bottom:0;

  p {
    color: white;
  }
}