$footer-height: 5em;


body, html {
  overflow-x: hidden;

}

.content {

  max-width: 62em;
  margin-top: 10em;
  margin-right: auto;
  margin-left: auto;

  h1 {
    color: #000;
    font-size: 4em;
    text-align: center;
    margin-bottom: .2em;
  }

  .lead {


    color: #000;
    font-size: 1.5em;
    text-align: center;
    margin-left: 2em;
    margin-right: 2em;
    padding-bottom: 2em;


  }

  h2{

    //text-align: center;
    //color: #0000cc;

  }
}



footer {

  background-color: black;
  bottom:0;
  width: 100%;
  position:fixed;



  p{

    color: white;

  }

}