.about-box {


    border: 1px solid #e6e6e6;



    width: 100%;
    padding-left: 2em;
    background-color: white;

    margin: 1em;




}

.staff-department-head {
  display: block;
  font-size: 3em;
  margin-top: 2em;


}