
.staff-department {
  display: block;


}

.flip-container{

margin: 1em;

}


img {
    width: $imagewidth;
    height: $imageheight;

}

.staff-department .staff-list {

  @include flexbox;
  @include flex-direction(row);
  @include flex-wrap(wrap);
  //@include justify-content(center);
  float: left;

}

.staff-department-head {

  text-align: center;
  font-size: 3em;

}

