

.front{

  background-color: rgb(35,85,135);

  .staff-name-title {
    padding: .6em;
    a:link, a:visited {  
    color: white;
    text-decoration: none;


    }
    color: white;
  }

  .staff-image-wrapper {
    background-size: cover;
    width: $flipcardwidth;
    height: $imagewidth;
    background-position: center;
  }

}
