@font-face {
  font-family: 'Gibson SemiBold';
  src: url("../assets/fonts/Gibson-SemiBold-webfont.woff") format("woff");
}
@font-face {
  font-family: 'Gibson Regular';
  src: url("../assets/fonts/Gibson-Regular-webfont.woff") format("woff");
}
@font-face {
  font-family: 'Gibson Light';
  src: url("../assets/fonts/Gibson-Light-webfont.woff") format("woff");
}

$member-width: 10vmin;

.group-wrapper {
  @include flexbox;
  @include align-self(center);

  padding: 3vmin;

  &.has-direction-horizontal {
    @include flex-direction(column);
  }
}

.group-header {
  margin-top: 3vmin;

  font-family: 'Gibson SemiBold';
  font-size: 3vmin;
  font-weight: 600;
  text-align: center;
}

.group {
  @include flexbox;

  margin-top: -2.5vmin;

  position: relative;

  transition: 1s;

  &:not(.has-direction-horizontal) {
  }

  &--header-wrapper {
    @include flexbox;
    @include flex(0 1 auto);
    @include align-content(flex-start);
    @include align-self(stretch);

    margin-top: 3vmin;
    min-width: 7vmin;

    &.has-small-images {
      margin-top: 5vmin;
    }
  }

  &--header {
    @include align-self(flex-start);
    @include flex-basis(100%);

    margin-top: 4.5vmin;

    font-size: 1.5vmin;
    text-align: center;

    transform: rotate(-90deg);
    transition: 1s;

    &.has-small-images {
      margin-top: 3.5vmin;
    }
  }

  &--member-wrapper {
    @include flexbox;
    @include flex-wrap(wrap);
    @include align-content(flex-start);

    margin-top: 3vmin;

    transition: 1s;
  }

  &--member {
    position: relative;

    margin-right: 1.5vmin;
    margin-bottom: 5vmin;
    height: $member-width;
    width: $member-width;

    transition: 1s;

    &.has-small-images {
      height: $member-width * .85;
      width: $member-width * .85;
      margin-right: 3vmin;
      margin-bottom: 6.5vmin;
    }
  }

  &--member-image,
  &--member-image-back {
    border: 1px solid $gray-lighter;
    box-sizing: border-box;
    height: $member-width;
    width: $member-width;

    background-size: cover;

    transition: 1s;

    &.has-small-images {
      height: $member-width * .85;
      width: $member-width * .85;
    }

    &.has-rounded-images {
      border-radius: 100%;
    }
  }

  &--member-image-back {
    background-color: $white;
  }

  &--member-content {
    position: absolute;
    right: 0;
    left: 0;

    padding: .5vmin 0;

    text-align: center;
  }

  &--member-name {
    color: $theme-color;
    font-family: 'Gibson SemiBold';
    font-size: .85vmin;
  }

  &--member-meta {
    font-size: .75vmin;
  }
}



/* entire container, keeps perspective */
.flip-container {
  perspective: 1000;
}
/* flip the pane when hovered */
.flip-container.active .flipper {
  transform: rotateY(180deg);
}

/* flip speed goes here */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;

  position: relative;
}

/* hide back of pane during swap */
.front, .back {
  backface-visibility: hidden;

  position: absolute;
  top: 0;
  left: 0;
}

/* front pane, placed above back */
.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
}
