@font-face {
  font-family: 'Gibson SemiBold';
  src: url("../assets/fonts/Gibson-SemiBold-webfont.woff") format("woff");
}
@font-face {
  font-family: 'Gibson Regular';
  src: url("../assets/fonts/Gibson-Regular-webfont.woff") format("woff");
}
@font-face {
  font-family: 'Gibson Light';
  src: url("../assets/fonts/Gibson-Light-webfont.woff") format("woff");
}


.header {
  margin-top: 1em;

  font-family: 'Gibson SemiBold';
  font-size: 3em;
  font-weight: 600;
  text-align: center;
}

.group {
  @include flexbox;
  @include justify-content(flex-start);
  @include align-content(stretch);
  @include align-items(flex-start);

  position: relative;

  margin-top: 4em;

  &--header-wrapper {
    @include flex(0 1 auto);

    min-width: 7vmin;
  }

  &--header {
    font-size: 1.75vmin;

    transform: rotate(-90deg);
    transform-origin: 6.5vmin 3.5vmin 0;
  }

  &--member-wrapper {
    @include flexbox;
    @include flex(1 1 auto);
    @include flex-direction(row);
    @include justify-content(flex-start);
    @include align-content(flex-start);
    @include align-items(flex-start);
  }

  &--member {
    position: relative;
  }

  &--member + &--member {
    margin-left: 2em;
  }

  &--member-image {
    border-radius: 100%;
    box-sizing: border-box;
    height: 12vmin;
    width: 12vmin;

    background-size: cover;
    border: .75vmin solid $gray-lightest;
  }

  &--member-content {
    @include flex-basis(100%);

    position: absolute;
    bottom: -1em;
    right: 0;
    left: 0;

    padding: .5em 0;

    background-color: transparentize($white, .1);
    text-align: center;
  }

  &--member-name {
    color: $theme-color;
    font-family: 'Gibson SemiBold';
    font-size: .85em;
  }

  &--member-position {
    font-size: .75em;
  }
}
