.toggle {
  position: absolute;
  top: 1.5vmin;
  right: 3vmin;
  z-index: 99;

  a {
    &:link,
    &:active,
    &:visited,
    &:hover {
      text-decoration: none;
    }
  }

  a + a {
    margin-left: 1vmin;
  }

  &--direction {
    &:before {
      content: "→ Horizontal ";
    }

    &.has-direction-horizontal {
      &:before {
        content: "↓ Vertical ";
      }
    }
  }

  &--image-style {
    &:before {
      content: "○ Round ";
    }

    &.has-rounded-images {
      &:before {
        content: "□ Square ";
      }
    }
  }

  &--spacing {
    &:before {
      content: "■ Small ";
    }

    &.has-large-spacing {
      &:before {
        content: "■ Large ";
      }
    }
  }
}