.toggle {
  position: absolute;
  top: 1.5vmin;
  right: 3vmin;
  z-index: 99;

  a {
    &:link,
    &:active,
    &:visited,
    &:hover {
      text-decoration: none;
    }
  }

  a + a {
    margin-left: 1vmin;
  }

  &--direction {
    &:before {
      content: "↓ Vertical ";
    }

    &.has-direction-horizontal {
      &:before {
        content: "→ Horizontal ";
      }
    }
  }

  &--image-style {
    &:before {
      content: "□ Square ";
    }

    &.has-rounded-images {
      &:before {
        content: "○ Round ";
      }
    }
  }

  &--spacing {
    &:before {
      content: "- Less ";
    }

    &.has-large-spacing {
      &:before {
        content: "+ More ";
      }
    }
  }
}