body {

    margin: 0;
}

.nav{


    background-color: green;
    border: 0.1em solid black;
    position: absolute;
    width: 30%;
    height: 100%;
    z-index: 4;
    left: 0;

}

.nav .nav-link {

    background-color: aqua;



}