/**
 *
 * Layout.
 *
 */


body, html {
  overflow-x: hidden;
}

body {
  &.is-frontpage,
  &.is-page {
    .logo,
    .logo.is-sticky {
      top: 1.7em;
      left: 1em;
      z-index: 90;

      overflow: hidden;
      display: block;
      height: 2em;
      width: 10em;

      @include breakpoint($breakpoint-tablet) {
        left: 1.8em;
      }
    }

    .logo {
      position: absolute;

      @include breakpoint($breakpoint-bigscreen) {
        top: 1.5em;

        height: 5em;
        width: 15em;

        transition: all .35s;
      }
    }

    .logo.is-sticky {
      @include breakpoint($breakpoint-desk) {
        position: fixed;
      }
    }
  }
}

main[role=main] {
  margin-right: auto;
  margin-bottom: 17em;
  margin-left: auto;
  max-width: $breakpoint-desk;

  @include breakpoint($breakpoint-tablet) {
    margin-bottom: 9em;
  }

  @include breakpoint($breakpoint-desk) {
    margin-bottom: 5em;
    padding-bottom: 3em;
  }
}
