/**
 *
 * Layout.
 *
 */


body, html {
  overflow-x: hidden;
}

body {
  .logo {
    overflow: hidden;
    position: absolute;
    z-index: 90;

    &.is-sticky {
      @include breakpoint($breakpoint-desk) {
        position: fixed;
      }
    }
  }

  &.is-frontpage {
    .logo {
      top: 1.25em;
      left: 1em;

      display: block;
      height: 2.4em;
      width: 10em;
      overflow: hidden;

      &.is-sticky {
        @include breakpoint($breakpoint-desk) {
          top: 1.3em;

          height: 2.5em;
          width: 12em;
        }
      }

      @include breakpoint($breakpoint-desk) {
        top: 2em;
        left: 1.8em;

        width: 12em;

        transition: all .35s;
      }

      @include breakpoint($breakpoint-bigscreen) {
        top: 3em;

        height: 5em;
        width: 15em;
      }
    }
  }

  &.is-page {
    .logo {
      top: 1.5em;
      left: 1em;

      height: 2em;
      width: 10em;
    }

    main[role=main] {
      padding-top: 7.5em;
    }
  }
}

main[role=main] {
  margin-right: auto;
  margin-bottom: 17em;
  margin-left: auto;
  max-width: $breakpoint-desk;

  @include breakpoint($breakpoint-tablet) {
    margin-bottom: 9em;
  }

  @include breakpoint($breakpoint-desk) {
    margin-bottom: 5em;
    padding-bottom: 3em;
  }
}
