/**
 *
 * Layout.
 *
 */


body, html {
  overflow-x: hidden;
}

&.is-frontpage {
  .logo {
    @include breakpoint($breakpoint-desk) {
    }

    @include breakpoint($breakpoint-bigscreen) {
      top: 2.75em;

      height: 5.5em;
      width: 18em;
    }
  }
}

.logo,
.logo.is-sticky {
  position: absolute;
  top: 1.5em;
  left: 1em;
  z-index: 90;

  display: block;
  height: 2.4em;
  width: 10em;
  overflow: hidden;

  @include breakpoint($breakpoint-desk) {
    position: fixed;
    top: 1.4em;
    left: 2em;

    width: 12 em;

    transition: all .35s;
  }
}


.is-page {
  main[role=main] {
    padding-top: 8em;
  }
}

main[role=main] {
  margin-right: auto;
  margin-bottom: 17em;
  margin-left: auto;
  max-width: $breakpoint-desk;

  @include breakpoint($breakpoint-tablet) {
    margin-bottom: 9em;
  }

  @include breakpoint($breakpoint-desk) {
    margin-bottom: 5em;
    padding-bottom: 3em;
  }
}
