/**
 *
 * Content.
 *
 */


.content {
  position: relative;
  top: 8em;

  &--inner {
    margin-right: auto;
    margin-bottom: 16em;
    margin-left: auto;
    max-width: $breakpoint-desk;

    @include word-wrap;

    @include breakpoint($breakpoint-tablet) {
      margin-bottom: 11em;
    }
  }
}
