/**
 *
 * Content.
 *
 */


.is-frontpage .content {
  @include flexbox;

  height: 100%;

  background-color: transparentize($black, .1);

  &--inner {
    @include flexbox;
    @include flex-basis(85%);

    margin: auto;
    height: 60%;
    max-width: 75%;

    @include breakpoint($breakpoint-bigscreen) {
      height: 45%;
      max-width: 40%;
    }
  }
}

.is-page .content {
  position: relative;
  top: 8em;

  &--inner {
    margin-right: auto;
    margin-bottom: 16em;
    margin-left: auto;
    max-width: $breakpoint-desk;

    @include word-wrap;

    @include breakpoint($breakpoint-tablet) {
      margin-bottom: 11em;
    }
  }
}
