/**
 *
 * Logo.
 *
 */


// Logo styling.

.is-frontpage .logo {
  @include flexbox;
  @include align-items(center);
  @include flex-direction(column);

  color: $white;

  .material-icons {
    font-size: 34px;
  }

  &--text {
    margin-top: .1em;
  }

  &--slogan {
    color: transparentize($white, .5);
    font-size: .45em;
  }
}

.is-page .logo,
.is-page .logo.is-sticky {
  @include flexbox;
  @include strip-link-styles($white, none);

  overflow: hidden;
  z-index: z($z-index-elements, logo);

  height: 100%;
  margin-right: 5.5em;
  margin-left: $layout-padding;

  font-size: 1.25em;
  font-weight: 300;
  line-height: 1em;

  @include breakpoint($breakpoint-desk) {
    margin-right: $layout-padding;

    font-size: 1.75em;
  }

  span {
    box-sizing: border-box;
    margin-top: auto;
    margin-bottom: auto;

    white-space: nowrap;
  }
}
