/**
 *
 * Footer
 *
 */

$top-and-button-margin: 2em;

.footer {
  position: absolute;
  bottom: 0;

  width: 100%;

  background-color: black;

  &--content {
    margin-left: auto;
    margin-right: auto;
    max-width: $breakpoint-desk;
    padding-top: $top-and-button-margin;
    padding-right: 1em;
    padding-left: 1em;

    @include flexbox;
    @include flex-flow(row wrap);
  }

  &--mail {
    margin-bottom: $top-and-button-margin;
    text-align: center;

    a {
      color: white;
    }
  }

  &--social {
    margin-bottom: $top-and-button-margin;

    @include flexbox;
    @include flex-basis(100%);
    @include align-items(center);
    @include justify-content(space-around);
  }

  &--icons {
    width: 1.8em;
    margin-left: 1em;
  }

  &--aarhus {
    margin-top: $top-and-button-margin;
    margin-bottom: $top-and-button-margin;

    @include flexbox;
    @include flex-basis(100%);
    @include align-items(center);
    @include justify-content(space-around);
  }

  &--logo {
    width: 8em;
  }

  @include breakpoint($breakpoint-tablet) {
    &--mail {
      text-align: left;

      @include flex-basis(75%);
    }

    &--social,
    &--icons {
      @include flex-basis(25%);
    }

    &--social {
      @include flexbox;
      @include align-items(center);
      @include justify-content(flex-end);
    }

    &--aarhus {
      @include flex(0, 0, 100%);
    }
  }

  @include breakpoint($breakpoint-desk) {
    &--mail {
      text-align: center;
      order: 2;

      @include flex-basis(50%);
    }

    &--social {
      order: 3;
    }

    &--aarhus {
      order: 1;
      margin-top: 0;

      @include justify-content(flex-start);
      @include flex-basis(25%);
    }
  }
}
