/**
 *
 * Logo.
 *
 */


// Logo styling.
// This handles the default logo behaviour whether it is sticky or not.
.logo,
.logo.is-sticky,
.is-frontpage .logo.is-sticky {
  position: absolute;
  top: 1.7em;
  left: $layout-padding;
  z-index: z($z-index-elements, logo);
  overflow: hidden;

  display: block;
  background: url("/devteam/images/assets/dev-team.png");
  background-size: 10em;
  background-repeat: no-repeat;
  height: 2em;
  width: 10em;

  @include breakpoint($breakpoint-desk) {
    position: fixed;
  }


}

// Specific override when viewing the frontpage.
// In this case the logo should show the text below and be slightly bigger on big screens.
.is-frontpage {
  .logo {
      top: 1.5em;

  background: url("/devteam/images/assets/dev-team-white.png");
  background-size: 10em;
  background-repeat: no-repeat;
      height: 5em;
      width: 15em;

      transition: all .35s;

    @include breakpoint($breakpoint-bigscreen) {

      background-size: 15em;
  }
}
}
