/**
 *
 * Content.
 *
 */

.content {
  padding-right: 1em;
  padding-left: 1em;

  @include word-wrap;

  &--header {
    margin-top: .5em;

    color: $gray-darker;
    font-size: 2.5em;
    font-weight: 300;
  }

  &--meta {
    margin-top: -.5em;
    margin-bottom: 1em;
    padding-bottom: 1em;

    border-bottom: 1px solid $gray-lighter;
    font-weight: 300;
  }

  &--image-wrapper {
    margin-top: 5.5em;
    margin-bottom: 2.5em;
  }

  &--text {
    border-bottom: 1px solid $gray-lighter;

    margin-bottom: 3em;
    padding-bottom: 3em;
  }

  @include breakpoint($breakpoint-desk) {
    &--image-wrapper {
      margin-top: -2.5em;
    }

    &--header {
      font-size: 4em;
    }
  }

  @include breakpoint($breakpoint-bigscreen) {
    &--image-wrapper {
      margin-top: 0;

      -webkit-clip-path: polygon(100% 0, 100% 100%, 0 80%, 0 0);
      clip-path: polygon(100% 0, 100% 100%, 0 90%, 0 0);
    }
  }
}
