/**
 *
 * Content.
 *
 */


&.is-page .content {
  margin-top: -8em;
  margin-bottom: 17em;
  padding-top: 3em;

  position: relative;
  z-index: z($z-index-elements, content);

  background-color: rgba(255, 255, 255, 1);

  -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 2%);
  clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 2%);

  @include breakpoint($breakpoint-tablet) {
    margin-bottom: 9em;
    padding-top: 3.5em;

    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 4%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 4%);
  }

  @include breakpoint($breakpoint-desk) {
    margin-top: -20em;
    margin-bottom: 5em;
    padding-top: 4em;

    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 5%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 5%);
  }

  @include breakpoint($breakpoint-bigscreen) {
    padding-right: $layout-padding;
    padding-left: $layout-padding;
    padding-top: 5em;
  }

}

.content {
  margin-right: auto;
  margin-left: auto;
  max-width: $breakpoint-desk;

  @include word-wrap;

  &--header,
  &--lead,
  &--meta,
  &--text {
    margin-right: $layout-padding;
    margin-left: $layout-padding;

    @include breakpoint($breakpoint-bigscreen) {
      margin-right: 0;
      margin-left: 0;
    }
  }

  &--header,
  &--lead {
    font-weight: 600;
    text-align: center;
  }

  &--header {
    margin-top: .5em;
    margin-right: 0;
    margin-left: -.075em; // Compensate for font whitespace

    color: $gray-darker;
    font-size: 2.5em;
  }

  &--meta {
    margin-top: -.5em;
    margin-bottom: 1em;
    padding-bottom: 1em;

    border-bottom: 1px solid $gray-lighter;
    font-weight: 300;
  }

  &--image-wrapper {
    margin-top: 5.5em;
    margin-bottom: 2.5em;

    @include breakpoint($breakpoint-desk) {
      overflow: hidden;

      height: 500px;

      img {
        margin-top: -250px;
      }
    }

    @include breakpoint($breakpoint-bigscreen) {
      -webkit-clip-path: polygon(100% 0, 100% 100%, 0 80%, 0 0);
      clip-path: polygon(100% 0, 100% 100%, 0 90%, 0 0);
    }
  }

  &--lead {
    font-size: 1.25em;

    @include breakpoint($breakpoint-tablet) {
      margin-right: 3em;
      margin-left: 3em;
    }

    @include breakpoint($breakpoint-desk) {
      font-size: 1.5em;
    }
  }

  &--text {
    border-bottom: 1px solid $gray-lighter;

    margin-bottom: 3em;
    padding-bottom: 3em;
  }
}
