/**
 *
 * Set the fonts for the project.
 *
 */


/* Font styles
================================================================================================================== */

@font-face {
  font-family: 'Open-Sans';
  src: url("../fonts/Open_Sans/OpenSans-Light.ttf");
}
@font-face {
  font-family: 'Open-Sans-Bold';
  src: url("../fonts/Open_Sans/OpenSans-Regular.ttf");
}