<!DOCTYPE html>
<html>
<head>
  <title>ITK personale</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="assets/js/angular.min.js"></script>
  <script src="assets/js/controllers.js"></script>
  <link href="css/styles.css" rel="stylesheet" type="text/css">
</head>
<body data-ng-app="groupApp">
<div data-ng-controller="groupControl" class="group-wrapper" data-ng-class="{'has-direction-horizontal' : directionSelected}">
  <section class="toggle">
    <a href="#" class="toggle--direction" data-ng-class="{'has-direction-horizontal' : directionSelected}" data-ng-click="setDirection()">view</a>
    <a href="#" class="toggle--image-style" data-ng-class="{'has-rounded-images' : imageStyleSelected}" data-ng-click="setImageStyle()">images</a>
    <a href="#" class="toggle--spacing" data-ng-class="{'has-large-spacing' : largeSpacing}" data-ng-click="setSpacing()">space</a>
  </section>
  <article class="group" data-ng-repeat="group in groups" data-ng-class="{'has-direction-horizontal' : directionSelected, 'has-large-spacing' : largeSpacing}">
    <div class="group--header-wrapper">
      <h2 class="group--header">{{ group.group }}</h2>
    </div>
    <div class="group--member-wrapper">
      <article class="group--member flip-container" data-ng-class="{'active' : isSelected(member), 'has-large-spacing' : largeSpacing}" data-ng-click="setActive(member)" data-ng-repeat="member in group.members" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper">
          <div class="group--inner-wrapper front">
            <div class="group--member-image" style="background-image: url('{{ member.image }}');" data-ng-class="{'has-rounded-images' : imageStyleSelected, 'has-large-spacing' : largeSpacing}"></div>
            <div class="group--member-content">
              <p class="group--member-name">{{ member.firstname }} {{ member.lastname }}</p>
              <p class="group--member-meta">{{ member.position }}</p>
            </div>
          </div>
          <div class="group--inner-wrapper back">
            <div class="group--member-image-back" data-ng-class="{'has-rounded-images' : imageStyleSelected, 'has-large-spacing' : largeSpacing}"></div>
            <div class="group--member-content">
              <p class="group--member-name">{{ member.firstname }} {{ member.lastname }}</p>
              <p class="group--member-meta">{{ member.email }}</p>
              <p class="group--member-meta">{{ member.quote }}</p>
            </div>
          </div>
        </div>
      </article>
    </div>
  </article>
</div>
<!-- <div data-ng-controller="dataControl">
  <article class="group">
    <div class="group--header-wrapper">
      <h2 class="group--header">ITK</h2>
    </div>
    <div class="group--member-wrapper">
      <article class="group--member" ng-repeat="item in data.data">
        <div class="group--member-image" style="background-image: url('{{ item.Person.imagefromad }}');"></div>
        <div class="group--member-content">
          <p class="group--member-name">{{ item.Person.kaldenavn }}</p>
          <p class="group--member-position">{{ item.Person.stilling }}</p>
        </div>
      </article>
    </div>
  </article>
</div> -->
</body>
</html>
