<!DOCTYPE html>
<html>
<head lang="da">
  <meta charset="UTF-8">
  <title>Dokk1 basic template test</title>
  <link href="css/style.css" rel="stylesheet" type="text/css"></link>
</head>
<body>
<div class="template">
  <h1 class="template--header">Kommende arrangementer</h1>
  <section class="template--group">
    <h3 class="template--group-header">Mandag 11. januar</h3>
    <article class="template--group-item is-odd">
      <div>09.00 - 11.00</div>
      <div>Something odd</div>
      <div>Multisalen</div>
    </article>
    <article class="template--group-item is-even">
      <div>10.00 - 11.00</div>
      <div>Something even</div>
      <div>Rampen</div>
    </article>
    <article class="template--group-item is-odd">
      <div>11.00 - 12.00</div>
      <div>Something odd</div>
      <div>Multisalen</div>
    </article>
    <article class="template--group-item is-even">
      <div>10.00 - 11.00</div>
      <div>Something even</div>
      <div>Rampen</div>
    </article>
    <article class="template--group-item is-odd">
      <div>11.00 - 12.00</div>
      <div>Something odd</div>
      <div>Multisalen</div>
    </article>
    <article class="template--group-item is-even">
      <div>10.00 - 11.00</div>
      <div>Something even</div>
      <div>Rampen</div>
    </article>
  </section>
  <section class="template--group">
    <h3 class="template--group-header">Tirsdag 12. januar</h3>
    <article class="template--group-item is-odd">
      <div>09.00 - 11.00</div>
      <div>Something odd</div>
      <div>Multisalen</div>
    </article>
    <article class="template--group-item is-even">
      <div>10.00 - 11.00</div>
      <div>Something even</div>
      <div>Rampen</div>
    </article>
    <article class="template--group-item is-odd">
      <div>11.00 - 12.00</div>
      <div>Something odd</div>
      <div>Multisalen</div>
    </article>
  </section>
  <footer class="template--footer">
    <span>Se mere på dokk1.dk/arrangementer</span>
  </footer>
</div>
</body>
</html>
