
.content--box{
  height: 10em;
  width: 40%;
  margin-left: 2em;
  margin-bottom: 2em;

  border: .1em solid;
  display: inline-block;

  img {
    border-right: .1em solid;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    position: relative;
    height: inherit;
    width: auto;
    float: left;
  }

  h2{
    color: $menu-color;
    font-size: 1.2em;
  }

  h3 {
    color: black;
    font-size: .8em;
  }

  a{
    font-size: .8em;
  }
}