/**
 *
 * Hamburger menu
 *
 */


$hamburger-menu-animation-duration: 0.3s;


.hamburger-menu {
  position: absolute;
  top: 0;
  right: -30em;
  margin-right: 0;
  max-width: 90%;
  width: 30em;
  height: 100%;
  z-index: 99;
  overflow: hidden;

  background-color: $menu-color;
  border: none;

  transition: right $hamburger-menu-animation-duration;
  transition-timing-function: ease-in-out;

  &.is-open {
    right: 0;
  }
}


// Places the hamburger icon defined in "_hamburger-button"

.hamburger-menu .c-hamburger {
  top: 0;
  left: 0;
}


// The menu-links is placed

.hamburger-links {
  padding-top: 2em;
  padding-left: 2em;
  
  .nav-link {
    padding-right: 5em;
    padding-top: 1em;

    text-decoration: none;
    font-size: 1.2em;
    display: list-item;
    list-style: none;
    color: white;

    &:hover {
      text-decoration: underline;
    }
  }
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: .25;
  visibility: hidden;

  &.is-visible {
    visibility: visible;
    transition: background $hamburger-menu-animation-duration;
    cursor: pointer;
    background-color: #000;
  }
}
