/**
 *
 * Header.
 *
 */


.header {
  position: relative;

  width: 100%;

  background: url('../images/header-background.jpg');
  background-size: cover;
  color: #fff;

  &--image {
   position: absolute;
   z-index: -5;

  }
  // Header inner
  &--inner {
    box-sizing: border-box;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    max-width: $layout-max-width;
    padding: 6.5em 1em 2em;

    @include flexbox;
    @include flex-direction(column);
    @include justify-content(center);

    @include breakpoint($layout-max-width) {
      padding: 12em 0 5em;
    }
  }


  // Big header
  &--big {
    margin-bottom: .5em;

    font-size: 2em;
    font-weight: 600;

    @include breakpoint($layout-max-width) {
      font-size: 4em;
    }

    @include breakpoint($breakpoint-bigscreen) {
      font-size: 6em;
    }
  }

  // Lead
  &--lead {
    margin-bottom: 1em;

    font-size: 1.25em;
    font-weight: 600;

    @include breakpoint($layout-max-width) {
      font-size: 1.75em;
    }

    @include breakpoint($breakpoint-bigscreen) {
      font-size: 2.25em;
    }
  }

  // Sub header
  &--sub {
    margin-bottom: 2em;

    font-weight: 100;

    @include breakpoint($layout-max-width) {
      font-size: 1.25em;
    }

    @include breakpoint($breakpoint-bigscreen) {
      font-size: 1.5em;
    }
  }

  // Link button
  &--button {
    &-wrapper {
      text-align: center;
    }

    &-link {
      border: 1px solid $white;
      box-sizing: border-box;
      display: block;
      margin-right: auto;
      margin-left: auto;
      max-width: 12em;
      padding-top: .25em;
      padding-bottom: .25em;
      width: 75%;

      color: $white;
      font-weight: 100;
      text-align: center;
      text-decoration: none;

      &:link,
      &:visited,
      &:hover,
      &:active {
        color: #fff;
        text-decoration: none;
      }

      &:hover {
        background-color: transparentize($black, .85);
      }

      @include breakpoint($layout-max-width) {
        font-size: 1.5em;
      }
    }
  }
}
