/**
 *
 * Navigation.
 *
 */


.nav {
  top: 0;
  position: fixed;
  z-index: 98;

  width: 100%;

  @include breakpoint($layout-max-width) {
    position: absolute;
    top: 6.5em;
    right: 8em;
  }

  &--links {
    display: none; // Hiding navigation on smaller screens

    @include breakpoint($layout-max-width) {
      display: block;
      margin-right: 1em;

      font-weight: 300;
      text-align: right;

      @include order(2);
      @include flex-grow(1);
      @include align-self(center);

      a {
        @include strip-link-styles(#fff, none);
      }
    }
  }

  &--link {
    @include breakpoint($layout-max-width) {
      margin-right: 1.5em;
      padding-bottom: .25em;

      border-bottom: 2px solid transparent;
      color: white;
      font-size: 1.2em;
      text-decoration: none;

      transition: border 1s;

      &:hover {
        border-bottom: 3px solid $white;
      }
    }
  }

  &--menu {
    background-color: transparent;

    @include breakpoint($layout-max-width) {
      @include order(3);
    }
  }
}


.nav-toggle {
  position: absolute;
  top: 1.8em;
  right: 1em;
  z-index: 99;

  height: 36px;
  width: 40px;

  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;

  @include breakpoint($layout-max-width) {
    top: 2em;
    right: 2em;
  }
}

.nav-toggle span {
  position: absolute;
  left: 0;

  display: block;
  height: 5px;
  width: 100%;

  background: $white;
  opacity: 1;

  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.nav-toggle span:nth-child(1) {
  top: 0px;
}

.nav-toggle span:nth-child(2),
.nav-toggle span:nth-child(3) {
  top: 15px;
}

.nav-toggle span:nth-child(4) {
  top: 30px;
}

.nav-toggle.open span:nth-child(1) {
  top: 15px;
  left: 50%;

  width: 0%;
}

.nav-toggle.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.nav-toggle.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.nav-toggle.open span:nth-child(4) {
  top: 15px;
  width: 0%;
  left: 50%;
}

