/**
 *
 * Variables
 *
 */


/* Breakpoints
   ================================================================================================================== */

$breakpoint-lap:          481px;
$breakpoint-tablet:       1023px;
$breakpoint-desk:         1024px;
$breakpoint-bigscreen:    1700px;


/* Z-index (inspired by https://www.smashingmagazine.com/2014/06/sassy-z-index-management-for-complex-layouts/)
   ================================================================================================================== */

$z-index-elements: modal-overlay-init, header-overlay, header, content, nav, logo, content-dropdown, overlay, modal-overlay-visible, hamburger-menu, nav-toggle;


/* Layout
   ================================================================================================================== */

$border-width:        1px;

$layout-max-width:    75em;
$border-radius:       .4em;


/* Elements
   ================================================================================================================== */

$nav-height:  80px;


/* Colors
   ================================================================================================================== */

// Theme colors
$theme-color:             rgb(21, 123, 179);
$theme-color-light:       rgb(195, 226, 244);
$theme-color-dark:        rgb(42, 45, 88);
$theme-color-secondary:   #b13a32;
$error-color:             #ffbaba;

// Grayscale colors
$black:               #000;
$white:               #fff;

$gray-lightest:       lighten($black, 98%);
$gray-lighter:        lighten($black, 90%);
$gray-light:          lighten($black, 80%);
$gray:                lighten($black, 70%);
$gray-dark:           lighten($black, 45%);
$gray-darker:         lighten($black, 35%);
$gray-darkest:        lighten($black, 25%);

// Derived colors
$link-color:       $theme-color;
$link-color-hover: darken($link-color, 25%);

$button-default-background: $theme-color;
$button-default-inactive: $gray-lighter;
$button-default-warning: $theme-color-secondary;


/* Typograhy
   ================================================================================================================== */

$font-family:      "Helvetica Neue", Helvetica, Arial, sans-serif;
$font:             1em/1.5 $font-family;