/**
 *
 * Styles related to origin selection.
 *
 */

/* Origin styles
================================================================================================================== */

.origin {
  &--item {
    @include flex(0, 0, 48%); // The remaining % is used for spacing.

    height: 12em;
    position: relative;

    box-sizing: border-box;
    text-align: center;
  }

  // We do a massive altaration of radio buttons and the related label.
  &--input {
    display: none;

    &:checked + label {
      border: 1px solid $theme-color-secondary;
    }

    &:checked + label .origin--check {
      height: 20px;
      width: 20px;
      right: -10px;
      top: -10px;
      position: absolute;

      background-image: url("../images/check-circle.svg");
      background-repeat: no-repeat;
      background-size: 20px 20px;
    }
  }

  // The radio button label is styled like a button of sorts.
  label {
    // Expand the label to take the full height and width of its wrapper.
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    border: 1px solid $gray-lighter;
    border-radius: .3em;

    cursor: pointer;
    background: $gray-lighter;
  }

  &--label-inner {
    // Center the text.
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    left: 0;
    right: 0;

    padding: 0 2em;

    &-sub {
      font-size: .8em;
      display: block;
      padding: 1em 0;
    }
  }
}


// The containers to show hide depending on origin selection.
.origin--group-wrapper {
  position: relative;   
}

.origin--field-container {
  // Expand the label to take the full height and width of its wrapper.
  z-index: 2;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;

  // Display the origin container.
  opacity: 1;
  transition: opacity .5s;
  transition-timing-function: ease-in-out;

  // Hide the origin container.
  &.is-hidden {
    display: none;
    z-index: 1;
    opacity: 0;
  }
}